body{
	background-color: springgreen;
}

h1{
	color: blue;
	font-family: "Comic Sans MS", cursive;
	font-size: 250%;
	text-align: center;
	text-transform: uppercase;
}

p{
	text-align: center;
	font-family: "Comic Sans MS", cursive;
	font-size: 125%;
}	
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 250px;
}						